<div class="flex-container">
  <!-- Header -->
  <header class="bg-custom-four text-white p-4">
    <div class="flex justify-center items-center">
      <img
        src="images/headshot.jpg"
        class="h-auto max-w-xxs rounded-full"
        alt="A professional picture of Alex wearing a light blue sweater and smiling at the camera."
      />
    </div>
    <div class="container mx-auto">
      <h1 class="text-2xl font-semibold">Alex Beeken</h1>
      <p class="text-sm">Senior Software Engineer</p>
    </div>
  </header>

  <!-- Main Content -->
  <main class="container mx-auto p-4">

    <!-- Introduction -->
    <section class="my-6">
      <h2 class="text-xl font-semibold mb-2">Introduction</h2>
      <p>
        Hello! I'm Alex Beeken, a Senior Software Engineer with <%= ((Date.today - Date.new(2015, 6, 1)) / 365.25).to_i %> years of professional experience.
      </p>
    </section>

    <!-- Skills -->
    <section class="my-6">
      <h2 class="text-xl font-semibold mb-2">Skills</h2>
      <ul class="list-disc list-inside">
        <li>Ruby on Rails</li>
        <li>Postgres</li>
        <li>MongoDB</li>
        <li>Elasticsearch</li>
        <li>React</li>
        <li>Ember</li>
      </ul>
    </section>

    <!-- Experience -->
    <section class="my-6">
      <h2 class="text-xl font-semibold mb-2">Experience</h2>

      <% @experience.each do |job| %>
        <div class="mb-4">
          <div class="flex justify-left items-left mb-3">
            <img
              src=<%= job['logo'] %>
              class="max-h-xxxs max-w-xxxs rounded-full mr-2"
              alt="A picture of the <%= job['company'] %> logo."
            />
            <div class="flex items-center justify-center">
              <h3 class="text-lg font-medium"><b><%= job['company'] %></b> - <%= job['position'] %> - <%= job['period'] %></h3>
            </div>
          </div>
          <div class="grid s:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <% job['responsibilities'].each do |item| %>
              <div class="border-2 rounded-lg border-custom-two opacity-40 hover:opacity-100 transition-opacity p-4 h-auto">
                <%= item %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </section>

    <!-- Education -->
    <section class="my-6">
      <h2 class="text-xl font-semibold mb-2">Education</h2>
      <%= @education.each do |school| %>
        <% location = school['location'].present? ? "- #{school['location']}" : "" %>
        <p><%= "#{school['institution']}#{location} - #{school['courses']}#{} - #{}" %></p>
      <% end %>
    </section>

    <!-- Contact -->
    <section class="my-6">
      <h2 class="text-xl font-semibold mb-2">Contact</h2>
      <p>Email: alex.beeken@example.com</p>
      <p>LinkedIn: linkedin.com/in/alexbeeken</p>
    </section>
  </main>

  <!-- Footer -->
  <footer class="bg-blue-600 text-white p-4 mt-8">
    <div class="container mx-auto text-center">
      <p>Copyright © 2023 Alex Beeken</p>
    </div>
  </footer>
</div>
