<div class="container bg-custom-four">
  <h5> You are logged in as <%= @current_user.username %> </h5>

  <div class="container border border-solid">
    <h4 class="text-lg font-bold"> Users </h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div>
  </div>

  <div class="container border border-solid">
    <h4 class="text-lg font-bold" > Rooms </h4>
    <%= turbo_stream_from "rooms" %>
    <div id="rooms">
      <%= render @rooms %>
    </div>
  </div>

  <div class="col-md-10 bg-dark text-light">
    <% if @single_room %>
      <h4 class="text-center text-lg"> <%= @user&.username ? "Private Message with: #{@user&.username}" : "Room: #{@single_room.name}" %> </h4>

      <%= turbo_stream_from @single_room %>
      <div id="messages" class="bg-white border border-solid border-black h-32">
        <%= render @messages %>
      </div>
      <%= render partial: 'layouts/new_message_form' %>
    <% end %>
  </div>

  <%= render partial: "layouts/new_room_form" %>
</div>

<%= link_to 'Sign Out', signout_path, data: { "turbo-method": :delete } %>

